<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Первые блюда</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>
  <body>



    <div id="app">
    <v-app id="inspire" dark>

      <!-- START - Меню навигации (отображение списка столовых) -->
      <v-navigation-drawer clipped fixed v-model="drawer" app>
        <v-list>
          <div class="" style="height:50px; display: flex; align-items: center;">
            <span>&nbsp&nbspСписок столовых:</span>
          </div>
          <v-divider></v-divider>
          <div class="" style="height:20px"></div>

          <v-list-tile @click="" style="background-color:rgba(0, 255, 0, 0.2);">
            <v-list-tile-action>
              <v-icon>business</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Столовая №1&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span>Открыта</span></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile @click="" style="background-color:rgba(255, 0, 0, 0.2)">
            <v-list-tile-action>
              <v-icon>business</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Столовая №2&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span>Закрыта</span></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile @click="">
            <v-list-tile-action>
              <v-icon>business</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Столовая №3</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

        </v-list>
      </v-navigation-drawer>
      <!-- END - Меню навигации (отображение списка столовых) -->

        <!-- START - TOOLBAR(header) -->
        <v-toolbar app fixed clipped-left>
          <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
          <v-layout row wrap align-self-center>
            <v-layout row wrap>

              <v-flex md1 xs4 align-self-center>
                <v-toolbar-title><v-btn flat>Меню</v-btn></v-toolbar-title>
              </v-flex>

              <v-flex md10 xs6 align-self-center>
                <span style="display: flex; justify-content: center; margin-right:30px">Столовая №1</span>
              </v-flex>

              <!-- START - иконка корзины и количество товаров  -->
              <v-flex md1 xs1  align-self-center>
                <v-badge overlap color="orange" style="margin-top:14px;" >
                      <template v-slot:badge>
                        <span  v-show="!hidden" >{{ cart_size }}</span>
                      </template>
                      <v-avatar>
                        <v-btn icon>
                          <v-icon small>fa-cart-plus</v-icon>
                        </v-btn>
                      </v-avatar>
                </v-badge>
              </v-flex>
              <!-- START - иконка корзины и количество товаров  -->

            </v-layout>
          </v-layout>
          <!-- START - иконка корзины и количество товаров  -->
        </v-toolbar >
        <!-- END - TOOLBAR(header) -->


      <v-content>
        <!-- START - всплывающее окно при помощении в корзину -->
        <v-snackbar class="mt-5" color="orange" v-model="snackbar_is_visible" right :timeout="3000" top>
          {{ snackbar_message }}
          <v-btn color="black" flat @click="snackbar_is_visible = false">Закрыть</v-btn>
        </v-snackbar>
        <!-- END - всплывающее окно при помощении в корзину -->

        <!-- START - поле, где хранятся блюда -->
        <template>
          <div>
            <v-container grid-list-md style="" class="">
              <v-layout row wrap>
                <v-flex xs12>

                  <v-container grid-list-md>
                    <span class="headline mb-2">Первые блюда:</span>
                    <v-layout row wrap>
                    <!-- Начинается -->

                    <v-flex xs12 md6 v-for="item in product">
                        <!-- <template> -->
                          <product
                          :image_url_of_prod="item.image_url_of_prod"
                          :title_of_prod="  item.title_of_prod"
                          :valuerating_of_prod="item.valuerating_of_prod"
                          :reviews_of_prod="item.reviews_of_prod"
                          :price_of_product="item.price_of_product"
                          weight="test"
                          calorie="test"
                          fats="test"
                          squirrels="test"
                          carbohydrates="test"
                          v-on:on_add_dish_to_cart="add_dish_to_cart($event)"
                          v-on:on_show_snackbar="show_snackbar($event)"
                          ></product>
                          <!-- </template> -->
                    </v-flex>

                    </v-layout>
                  </v-container>

                </v-flex>
              </v-layout>
            </v-container>
          </div>
        </template>
        <!-- END - поле, где хранятся блюда -->
      </v-content>

      <!-- START - FOOTER -->
      <v-footer app fixed dark>
        <span style="margin-left:20px">&copy; 2017 </span>
        <v-spacer></v-spacer>
        <v-btn flat>Войти в админ панель</v-btn>
      </v-footer>
      <!-- END - FOOTER -->

    </v-app>
  </div>

  <!-- Start - Подключение скриптов (библиотека VueTify и Script) --->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="product-script.js"></script>
  <script type="text/javascript" src="{% static 'bh_site/product-script.js' %}">

  <!-- End - Подключение скриптов (библиотека VueTify и Script) --->

  </body>
</html>
